@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700');
* {
  margin: 0px;
}

body {
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  position: absolute;
  width: 1400px;
  height: 78px;
  left: 0px;
  top: 20px;
}

main {
  padding-top: 30px;
}

h1>a {
  text-decoration: none;
  color: #173A56;
}

ul.list>li {
  list-style: none;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  padding-right: 15px;
}

li>a {
  text-decoration: none;
}

.logo-wrapper {
  margin-left: 144px;
  margin-top: 22px;
}

div.nav {
  width: 350px;
  height: 28px;
  margin-left: 320px;
  margin-top: 24px;
  list-style: none;
  text-decoration: none;
  color: #2F281E;
  font-weight: 400;
  font-size: 14px;
}

ul {
  display: flex;
}

.btn-sing-in {
  margin-left: 29px;
  margin-top: 15px;
  width: 102px;
  height: 46px;
  background-color: #ffffff;
  color: #173A56;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid #BCD0E5;
  box-sizing: border-box;
  border-radius: 4px;
}

.btn-sing-up {
  margin-left: 14px;
  margin-top: 15px;
  width: 110px;
  height: 46px;
  background-color: #FF9900;
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  border: 1px solid #FF9900;
  box-sizing: border-box;
  border-radius: 4px;
}

section.hero {
  width: 1126px;
  height: 496px;
  margin-left: 145px;
  margin-top: 98px;
  display: flex;
}

div.hero {
  margin-top: 83px;
  width: 518px;
  height: 331px;
}

div.hero>h2 {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  font-style: normal;
  color: #2F281E;
  margin-bottom: 30px;
}

div.hero>p {
  width: 458px;
  height: 95px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  font-style: normal;
  color: #544837;
  margin-bottom: 45px;
}

.btn-start {
  width: 175px;
  height: 53px;
  background-color: #FF9900;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  border: 1px solid #FF9900;
  box-sizing: border-box;
  border-radius: 4px;
}

.btn-watch {
  margin-left: 30px;
  color: #FF9900;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  padding: 0;
  border: 0;
  background-color: #ffffff;
  text-decoration: none;
}

div.img-1 {
  width: 605px;
  height: 496px;
  margin-top: 0px;
  display: grid;
}

img.img-oval {
  margin-left: 53px;
  margin-top: 29px;
}

img.img-happy-people {
  position: absolute;
}

section.tools {
  width: 2211px;
  height: 543px;
  margin-top: 110px;
}

h2.tools {
  width: 539px;
  height: 108px;
  margin-left: 439px;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
}

div.cards {
  width: 1095px;
  height: 204px;
  margin-left: 161px;
  margin-top: 54px;
  display: flex;
}

div.card {
  width: 240px;
  height: 204px;
  margin-right: 45px;
}

.icon {
  margin-bottom: 30px;
  height: 50px;
  width: 50px;
}

.card-img-shadow {
  height: 50px;
  width: 50px;
  opacity: 0.3;
  position: absolute;
  border-radius: 19px 19px 0px 0px;
}

.card-img-1 {
  height: 50px;
  width: 50px;
  border-radius: 19px;
  background-color: #7752BE;
  color: #ffffff;
  margin-bottom: 30px;
}

.card-img-2 {
  height: 50px;
  width: 50px;
  display: block;
  border-radius: 19px;
  background-color: #FAB005;
  color: #ffffff;
  margin-bottom: 30px;
}

.card-img-3 {
  height: 50px;
  width: 50px;
  display: block;
  border-radius: 19px;
  background-color: #F03E3D;
  color: #ffffff;
  margin-bottom: 30px;
}

.card-img-4 {
  height: 50px;
  width: 50px;
  display: block;
  border-radius: 19px;
  background-color: #4DADF7;
  color: #ffffff;
  margin-bottom: 30px;
}

div.card h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  font-style: normal;
}

p.icon-text {
  margin-top: 13px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.btn-sign-up-now {
  width: 175px;
  height: 53px;
  background: #FF9900;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  border: 1px solid #FF9900;
  box-sizing: border-box;
  border-radius: 4px;
  margin-left: 621px;
  margin-top: 34px;
}

section.professionals {
  display: flex;
  width: 1110px;
  height: 574px;
  margin-top: 120px;
  margin-left: 145px;
}

.professionals-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  margin-top: 12px;
}

div.professionals {
  width: 486px;
  height: 531px;
  padding-top: 10px;
}

.man-with-phone {
  display: block;
  width: 520px;
  height: 574px;
  margin-left: 104px;
}

section.managers {
  display: flex;
  width: 1121px;
  height: 521px;
  margin-left: 144px;
  margin-top: 104px;
}

.managers-text {
  width: 486px;
  height: 427px;
  padding-top: 20px;
  margin-left: 100px;
}

section.marketers {
  display: flex;
  width: 1110px;
  height: 609px;
  padding-top: 104px;
  margin-left: 147px;
}

.managers-list {
  list-style: none;
  display: block;
  width: 430px;
  height: 52px;
  padding-inline-start: 0px;
}

.managers-list-li {
  margin-top: 30px;
  display: flex;
}

.marketers-text {
  width: 486px;
  height: 609px;
}

footer {
  width: 1109px;
  height: 308px;
  margin-left: 160px;
  margin-top: 146px;
  display: flex;
}

.footer-auth {
  width: 325px;
  height: 199px;
  margin-left: 82px;
  display: block;
  margin-top: 102px;
  padding-top: 91px;
}